* {
    box-sizing: border-box;
  }
  
  body {
    font-family: mulish,source sans pro,sans-serif;
    padding: 0px;
    margin: 0px;
    background: #070707;
  }
  .header h1 {
    font-size: 30px;
  }
  .nav {
    line-height: 40px;
    overflow: hidden;
    background-color: #0e0707;
  }
  .nav a {
    float: left ;
    display: block;
    color:white;
    text-align: center;
    padding: 9px 40px;
    text-decoration: none;
  }
  .nav a:hover {
    color: rgb(104, 119, 255);
  }
  .form-group{
    margin: 10px 0px;
}
.form-control{
  margin: 14px;
    width: 98%;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 15px;
}
.form-group label{
    font-weight: bold;
    font-variant: small-caps;
}
.form-control:focus{
    background-color: rgb(159, 135, 187);
    box-shadow: 0 0 3px red;
    border: 1px solid rgb(147, 106, 185);
}
.form-button{
    padding: 8px 30px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(242, 244, 248);
    color: rgb(59, 58, 57);
    box-shadow: inset 0 0 20px rgb(245, 245, 247);
}
.form-control:hover{
    color: rgb(53, 53, 56);
    box-shadow: inset 0 0 20px rgb(90, 83, 81);
}
.form-button:disabled{
    color: darkgray;
    box-shadow: inset 0 0 20px gray;
}
label{
    font-variant: small-caps;
}  
label{
  color: white;  
}  
fieldset{
  color: white;
}             