* {
    box-sizing: border-box;
  }
  
  body {
    font-family: mulish,source sans pro,sans-serif;
    padding: 0px;
    margin: 0px;
    background: #141414;
  }
  .header h1 {
    font-size: 30px;
  }
  .nav {
    line-height: 40px;
    overflow: hidden;
    background-color: #0e0707;
  }
  .nav a {
    float: left ;
    display: block;
    color:white;
    text-align: center;
    padding: 9px 40px;
    text-decoration: none;
  }
  .nav a:hover {
    color: rgb(104, 119, 255);
  }
.anh{ 
    padding-top: 82px;
    padding-left: 390px;   
  }
  .chu{
    color: azure;
    font-family: Swiss;
    width: 100%;
    margin: 0 auto;
    padding: 11rem 3rem;
    position: absolute;
    left: 56%;
    top: 1014px;
    transform: translateX(-50%);
    z-index: 2;
  }
  .chinhphuc{
    color: azure;
    font-family: Swiss;
    width: 100%;
    margin: 0 auto;
    padding: 11rem 3rem;
    position: absolute;
    left: 56%;
    top: 150px;
    transform: translateX(-50%);
    z-index: 2;
  }
  .chinhphuc img{
    width: 187px;
  }
  .timhieuthem {
    position: absolute;
    left: 52px;
    top: 27rem;
    height: 46px;
    line-height: 42px;
    color: rgb(211, 24, 24);
    border: 2px solid rgb(250, 249, 249);
    box-sizing: border-box;
    border-radius: 41px;
    width: 146px;
    font-family: mulish, sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
  }
 .gioithieu{
    text-align: center;
    font-size: 3.9rem;
    color: #FFFFFF;
    line-height: 1.8;
    margin-bottom: 6rem;
 }
 .chu2{
    text-align: center;
    font-size: 1.9rem;
    color: #FFFFFF;
    line-height: 1.8;
    margin-bottom: 6rem;  
 }
 .footer{
     font-size: 30px;
    border-top: 5px double orangered;
    line-height: 0px;
    background-color: rgb(128, 131, 131);
    text-align: center;
    font-variant: small-caps;
    clear: both;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }
  .gioithieu .key{
    width: 100%;
    height: 1000px;
    animation-name: keyframes1;
    animation-duration: 9s;
    animation-iteration-count: infinite;  
    border: solid rgb(255, 0, 0) 5px;
    margin-left: 0%;
}
@keyframes keyframes1 {
    5%  {background-image: url(/images/mitsubishixpandercross40-15833892158481991895176.jpeg);}
    20%  {background-image: url(/images/collage2.jpg);}
    70%  {background-image: url(/images/colorado_hero_0.jpg);}
    100% {background-image: url(/images/hang-xe-o-to.jpg);}
}
.video video{
  height: 100%;
  width: 100%;
}